body{
    background-image: linear-gradient(rgb(21, 32, 58), rgb(11, 15, 26));
    margin: 0;
    font-family: MontserratThin;
    color: antiquewhite;
}

a{
    color: inherit;
    text-decoration: none;
}

h1, h2, h3{
    font-weight: inherit;
}

@font-face{
    font-family: YoungSerif-Regular;
    src: url(assets/font/YoungSerif-Regular.ttf);
}
@font-face{
    font-family: MontserratThin;
    src: url(assets/font/Montserrat-Thin.ttf);
}
@font-face{
    font-family: MontserratBold;
    src: url(assets/font/Montserrat-Bold.ttf);
}
@font-face{
    font-family: MontserratRegular;
    src: url(assets/font/Montserrat-Regular.ttf);
}



#header{
    margin: 5px;
    display: flex;
}
#header div{
    background-color: rgba(0, 0, 0, 0);
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
}
#header div h3{
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}



#intro{
    background: url(assets/portfolio-website-top-image.svg) no-repeat;
    background-position-y: -40px;
    background-position-x: center;
    background-size: 1100px;
    margin: 50px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#intro h1{
    margin: 5px;
    font-size: 50px;
    font-family: MontserratRegular;
}
#intro h2{
    margin-top: auto;
    margin-bottom: 10px;
    font-family: MontserratRegular;
}



#introText{
    margin: 50px;
}
#introText h2{
    font-family: MontserratRegular;
}


#snippets{
    text-align: center;
    font-family: MontserratRegular;
}
#snippets div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
#snippets div img{
    box-shadow: 0 0 0 1px rgb(21, 32, 58);

}



#footer{
    margin: 40px;
    color: azure;
}



@media screen and (max-width: 970px),screen and (orientation: portrait) {
    #intro{
        background: url(assets/portfolio-website-top-image-small.svg) no-repeat;
        background-position: center;
        background-size: 600px;
        margin-left: 0 auto;
        height: 350px;
    }
    #intro h1{
        font-size: 40px;
    }
    #intro h2{
        font-size: 18px;
    }
}